
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px; /* Margen exterior para separar el contenedor del borde de la ventana */
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label, input{
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Agrega margen inferior a las etiquetas */
}

.form-control {
    margin-bottom: 15px; /* Agrega margen inferior a los campos de entrada */
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px; /* Agrega margen superior al botón */
    padding: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.result {
    font-size: 24px;
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px; /* Agrega margen inferior al resultado */
}

h2{
    text-align: center;
}


